---
title: i18n YAML to Gengo Online
description: Convert your i18n YAML files for Rails or whatever into Gengo friendly submissions and back again.
---

.content
  .content-item.content-description
    Convert your i18n YAML files, for Rails or whatever, into
    %a.gengo{href:"https://gengo.com"} Gengo
    friendly submissions and back again.
  .content-item.content-converter
    %textarea.yaml
    %textarea.gengo
  .content-item.content-made-with-by
    %a{href:"https://github.com/leighmcculloch/gengoyaml"}
      github.com/leighmcculloch/gengoyaml
