---
title: i18n YAML for Gengo Online
description: Convert i18n YAML files for Rails or whatever into Gengo friendly submissions and back again.
---

.container
  %h5#pageTitle.text-xs-center
    Convert your i18n YAML files, for Rails or whatever, into
    %a.gengo{ href:"https://gengo.com" } Gengo
    friendly submissions and back again.

  #converter
    .text-xs-left
      Examples:
      %button#insertGengo.btn.btn-link Insert Gengo Text
      %button#insertYAML.btn.btn-link Insert YAML Text
    .card-deck-wrapper
      .card-deck
        .card.card-block
          .form-group
            %textarea#raw.form-control
          .form-group
            %button#yaml2gengo.btn.btn-primary Yaml 2 Gengo
            %button#gengo2yaml.btn.btn-secondary Gengo 2 Yaml
        .card.card-block
          .form-group
            %textarea#converted.form-control.disabled{ readonly:"readonly" }
          .form-group.text-xs-left.text-md-right
            %button#toCopy.btn.btn-secondary{'data-copytarget':"#converted"} Copy
            %button#toGengo.btn.btn-primary{ title: "Do it, click the button" } Send to Gengo
  .row
    .col-xs-12.text-xs-center
      %p
        %br
        %a{href:"https://github.com/AntiFish03/gengo-yaml/tree/Gengo-YAML"}
          github.com/antifish03/gengo-yaml
      %p
        Forked from
        %br
        %a{href:"https://github.com/leighmcculloch/gengo-yaml"}
          github.com/leighmcculloch/gengo-yaml
%script{ async: true, src: 'https://www.google-analytics.com/analytics.js'}
