---
title: i18n YAML for Gengo Online
description: Convert i18n YAML files for Rails or whatever into Gengo friendly submissions and back again.
---

.content
  .content-item.content-description
    .nowrap
      Convert your i18n YAML files, for Rails or whatever, into
    .nowrap
      %a.gengo{href:"https://gengo.com"} Gengo
      friendly submissions and back again.
  .content-item.content-converter
    .convertee.yaml
      %textarea
    .convertee.gengo
      %textarea{disabled:"disabled"}
      .actions
        %a.send-to-gengo.gengo.tip{href:"#", title:"Do it, click the button."} Translate with Gengo &raquo;
  .content-item.content-made-with-by
    Conversion back the other way coming soon.
    %br
    %a{href:"https://github.com/leighmcculloch/gengo-yaml"}
      github.com/leighmcculloch/gengo-yaml
